

<form>
	<div class="mb-3 row">
		<!-- <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
		<div class="col-xs-3 col-sm-auto">
			<input
				id="table-complete-search"
				type="text"
				class="form-control"
				name="searchTerm"
				[(ngModel)]="service.searchTerm"
			/>
		</div> -->
		@if (service.loading$ | async) {
			<span class="col col-form-label">Loading...</span>
		}
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				
				<th scope="col" sortable="firstName" (sort)="onSort($event)">Firstname</th>
				<th scope="col" sortable="surname" (sort)="onSort($event)">Surname</th>
				<th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
			</tr>
		</thead>
		<tbody>
			@for (register of registers$ | async; track register.id) {
				<tr>					

					<td>
						
						<ngb-highlight [result]="register.firstName" [term]="service.searchTerm" (click) = "shareEmail(register.id)"/>
					</td>
					<td><ngb-highlight [result]="register.surname " [term]="service.searchTerm" (click) = "shareEmail(register.id)" /></td>
					<td><ngb-highlight [result]="register.email" [term]="service.searchTerm" (click) = "shareEmail(register.id)" /></td>
				</tr>
			} @empty {
				<tr>
					<td colspan="4" style="text-align: center">No countries found</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
		</ngb-pagination>

		<select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
			<option [ngValue]="2">2 items per page</option>
			<option [ngValue]="10">10 items per page</option>
			<option [ngValue]="6">6 items per page</option>
		</select>
	</div>
</form>

